$color-primario: #55A;
$color-secundario: #6B6;
$color-texto: #666;
$background-header: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
$backgroun-main: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
$basecolor: black;
$alternative-color: orange;
$colordark: rgb(12, 58, 12);  
$colorligth: rgb(0, 128, 111);  
$colorhome: blue;
$colormenu: tomato;
$color-formulario: salmon;
$colorneutro: white;
$colordanger: red;
$fontalternative: 'Raleway', sans-serif;
$fontbase: 'Roboto', sans-serif;
$tipografia-especial: 'Times New Roman', Times, serif;
$cursorlinks: pointer;
$links-decoration: none;