@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%; }

.hero {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); }

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.logo__img {
  width: 60%;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-name: mover;
  animation-duration: 2s;
  animation-timing-function: ease;
  padding-bottom: 10px; }

@keyframes mover {
  0% {
    translate: scale 0%; }
  100% {
    translate: scale(100%); } }

.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 1rem bolder;
  padding: 20px;
  padding-top: 10px;
  align-items: inherit; }
  .link a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    text-transform: uppercase;
    animation: backwards;
    cursor: pointer; }
    .link a::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      background-color: tomato;
      transition: all 500ms ease;
      z-index: -1; }

.container {
  position: relative; }
  .container .lupa {
    position: absolute;
    margin-left: 28px;
    margin-top: 27px;
    color: white;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out; }
  .container__main {
    background: orange; }

.title {
  font-size: 2.5rem;
  font-weight: 100;
  color: white;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px white; }
  @media only screen and (min-width: 390px) and (max-width: 767px) {
    .title {
      font-size: 3vw;
      font-weight: 50px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .title {
      font-size: 3vw; } }

.copy {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  margin: 15px;
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #0c3a0c;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px white; }
  @media only screen and (min-width: 390px) and (max-width: 767px) {
    .copy {
      font-size: 3vw;
      font-weight: 50px;
      margin: 0px;
      left: 50%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .copy {
      font-size: 3vw;
      margin: 25px;
      top: 60%;
      left: 40%; } }

.main__textos {
  height: 80vh;
  max-height: 700px;
  background-image: url("../img/fondo pagina bueno.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__img {
  width: 90%;
  height: auto; }

.carousel-inner {
  max-height: 39rem;
  transition-duration: .6s; }

.about {
  background-color: #c3e7e9;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  padding: 10px; }
  .about h2 {
    text-align: center;
    padding: 20px; }
  .about p {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif; }
  .about h1 {
    text-align: center;
    animation-duration: 1s;
    animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.services {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  width: 100%;
  text-align: center;
  color: #0c3a0c; }

.container-fluid {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  width: 100%;
  padding-right: 1rem;
  padding-top: 2rem; }

.card-title span {
  font-size: medium;
  font-weight: bold;
  color: #00806f; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.container-card {
  overflow-x: hidden;
  max-width: 100%;
  padding: 150px 0;
  height: auto;
  margin: 0 auto; }
  @media only screen and (min-width: 390px) and (max-width: 767px) {
    .container-card {
      overflow-y: hidden; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-card {
      overflow-y: hidden; } }

.card {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 4fr auto;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  border-style: none; }
  @media only screen and (min-width: 390px) and (max-width: 767px) {
    .card {
      grid-template-rows: 4fr auto;
      grid-template-columns: 1fr;
      grid-auto-flow: row; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card {
      grid-template-rows: 4fr auto;
      grid-template-columns: 1fr;
      grid-auto-flow: row; } }
  .card__img {
    object-fit: cover;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100%;
    height: 300px;
    object-position: center;
    padding: 1rem;
    border-style: groove; }
    @media only screen and (min-width: 390px) and (max-width: 767px) {
      .card__img {
        overflow-y: hidden; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .card__img {
        overflow-y: hidden; } }
  .card__text {
    padding-right: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
    color: #666; }
    @media only screen and (min-width: 390px) and (max-width: 767px) {
      .card__text {
        align-items: center; } }
  .card-body {
    padding-top: 20px;
    width: 100%; }
  .card--modified {
    padding-bottom: 20px; }
  .card--modified img {
    border-radius: 20px; }

.select {
  background-color: #c3e7e9;
  height: 100vph; }

.list {
  align-items: flex-end; }
  .list__title {
    font-size: 30px;
    padding: 10px;
    color: #55A;
    text-shadow: #666; }
  .list__subtitle {
    padding: 10px; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100vph;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  @media only screen and (min-width: 390px) and (max-width: 767px) {
    .flex-container {
      flex-direction: column; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .flex-container {
      flex-direction: column; } }

.caja__container {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px; }

.caja__img {
  width: 100%; }

.caja__text {
  font-size: 20px; }

.caja__text2 {
  font-size: 10px; }

.mapa {
  width: 100%;
  height: auto; }

#local {
  background: #c3e7e9;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.wrapper {
  width: 90%;
  margin: auto;
  padding-top: 50px; }

#contenedor-formulario {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  background: #e1e28c;
  border-radius: 10px; }

#titulo-fomulario {
  color: #0c3a0c; }

.b-example-divider {
  height: 1rem;
  background-color: black, 0.1;
  border: solid black, 0.15;
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em black, inset 0 0.125em 0.5em black; }

.footer {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  width: 100%;
  padding: auto; }
  .footer__copy {
    width: 100%;
    padding: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .footer__title {
    font-size: 20px;
    margin-bottom: 32px; }

.container__footer {
  padding: 10px; }

.information {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 3fr auto;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  border-style: none;
  padding: 20px; }
  .information__links-img {
    width: 100px;
    height: 100px; }

.socialmedia {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  text-decoration: none;
  cursor: pointer; }

.copyright {
  width: 100%;
  text-align: center; }

.btn-whatsapp {
  display: block;
  width: 50px;
  height: 50px;
  color: #00806f;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  z-index: 999; }

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  resize: vertical; }

label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

input[type=submit] {
  background-color: #55A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; }
  input[type=submit]:hover {
    background-color: #6B6; }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-25 {
      width: 100%;
      margin-top: 0; } }

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-75 {
      width: 100%;
      margin-top: 0; } }

.row:after {
  content: "";
  display: table;
  clear: both; }

.dw-container {
  background-color: #9999cc;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  padding: 10px;
  padding-bottom: 10px;
  margin: 0 auto; }
  .dw-container--modified {
    background-color: #c3e7e9; }
  .dw-container--modified h2 {
    text-align: center;
    font-weight: bold; }
  .dw-container--modified p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px; }

.dg-container {
  background-color: #c3e7e9;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  padding: 10px;
  padding-bottom: 10px;
  margin: 0 auto; }
  .dg-container--modified {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #c3e7e9; }
